#typer .paragraph.body {
  margin-bottom: 10px;
}

#typer .container {
  display: block;
  position: relative;
  box-sizing: border-box;
}

#typer textarea {
  z-index: 0;
  resize: none;
  border: 0;
  outline: 0;
  width: 100%;
  position: absolute;
  background-color: transparent;
  height: auto;
  text-indent: 5px;
  text-align: left;
  line-height: 60px;
  font-size: 24px;
  font-family: "Hiragino Mincho Pro", "MS Mincho", "MS PMincho", 游明朝, "Yu Mincho", YuMincho, serif;
}

#typer .free-typing {
  z-index: 1;
}


#typer textarea::placeholder {
  color: lightgray;  
}


#typer .sentence-number {
    margin-right: 5px;
    color: #777777;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 27px;
    float: left;
}

#typer .correct-sentence {
  background-color: springgreen; 
  background-image: linear-gradient(315deg, #7ee8fa 0%, springgreen 50%)
}